body {
    margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 11pt;
    color: #333;
    font-family: sans-serif;
    }
    
h1,h2,h3 {
    font-weight: bold;
    margin: 0;
    font-family: serif;
    }
    
.hidden {
    display: none;
    }
    
#wrapper {
    width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 0 10px;
    }
    
#nav {
    display: block;
    margin: 0;
    padding: 0;
    }
    
#nav li {
    margin: 0;
    padding: 0;
    border: none;
    }
    
#nav li a {
    display: inline;
    float: left;
    width: 150px;
    font-weight: bold;
    font-size: 1.35em;
    padding: 7px 10px;
    font-family: serif;
    margin-right: 2px;
    background-color: #eee;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #fff #d9d9d9 #d9d9d9;
    }
    
#nav li a, #nav li ul li a {
    color: black;
    text-decoration: none;
    }
    
#nav li ul {
    margin: 0;
    padding: 0;
    
    }
    
#nav li ul li {
    font-size: .8em;
    margin: 0;
    padding: 0;
    border: none;
    }
    
#nav li ul li a {
    float: none;
    display: block;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0;
    clear: both;
    width: 150px;
    background-color: #eee;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #fff #d9d9d9 #d9d9d9;
    }
    
#nav li a:hover, #nav li ul li a:hover {
    background-color: #ddd;
    }
    
#content {
    clear: both;
    padding-top: 20px;
    }
    
#list-filters {
    background: #eee;
    padding: 10px 10px 40px 10px;
    font-size: .9em;
    }
    
#issue-search {
    float: left;
    width: 480px;
    font-size: 1.3em;
    }
    
#saved-filters {
    font-weight: bold;
    margin-left: 480px;
    padding-top: 5px;
    }
    
#advanced-search-link {
    clear: left;
    float: left;
    }
    
.button {
    background: #fff;
    padding: 8px 8px;
    display: inline;
    width: 80px;
    margin-right: 5px;
    border-radius: 15px;
    text-align: center;
    }
    
.button span {
    }
    
#issue-list {
    width: 100%;
    border: none;
    }
    
#issue-list .issue-list-labels {
    font-weight: bold;
    }
    
#issue-list td {
    padding: 2px 5px;
    text-align: left;
    }
    
#issue-list .decorator {
    width: 15px;
    padding: 2px 0px;
    }
    
#issue-list .id {
    width: 55px;
    }
    
#issue-list .activity {
    width: 110px;
    }
    
#issue-list .priority-marker td {
    text-align: center;
    padding: 4px 10px;
    font-weight: bold;
    background: #eee;
    }
    
#footer {
    padding: 20px 0;
    }